In [1]:
import pandas as pd

In [2]:
series = pd.Series(["BMW","Toyota","Honda"])

In [3]:
series

0       BMW
1    Toyota
2     Honda
dtype: object

In [4]:
colour = pd.Series(["red", "blue", "yellow"])

In [5]:
colour

0       red
1      blue
2    yellow
dtype: object

In [6]:
#DataFrame
car_data = pd.DataFrame({"Car make": series, "colour": colour})

In [7]:
car_data

  Car make  colour
0      BMW     red
1   Toyota    blue
2    Honda  yellow