In [1]:
!pip install pandas==1.3.3
!pip install requests==2.26.0
!pip install bs4==4.10.0 -y
!pip install html5lib==1.1 -y
!pip install lxml==4.6.4
!pip install plotly==5.3.1

Collecting pandas==1.3.3
  Downloading pandas-1.3.3-cp38-cp38-win_amd64.whl (10.2 MB)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\lucya\anaconda3\lib\site-packages (from pandas==1.3.3) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\lucya\anaconda3\lib\site-packages (from pandas==1.3.3) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in c:\users\lucya\anaconda3\lib\site-packages (from pandas==1.3.3) (1.20.3)
Requirement already satisfied: six>=1.5 in c:\users\lucya\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas==1.3.3) (1.16.0)
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 1.3.4
    Uninstalling pandas-1.3.4:
      Successfully uninstalled pandas-1.3.4

ERROR: Could not install packages due to an OSError: [WinError 5] Access is denied: 'C:\\Users\\lucya\\anaconda3\\Lib\\site-packages\\~andas\\_libs\\algos.cp38-win_amd64.pyd'
Consider using the `--user` option or check the permissions.

Requirement already satisfied: requests==2.26.0 in c:\users\lucya\anaconda3\lib\site-packages (2.26.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\lucya\anaconda3\lib\site-packages (from requests==2.26.0) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\lucya\anaconda3\lib\site-packages (from requests==2.26.0) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\lucya\anaconda3\lib\site-packages (from requests==2.26.0) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\lucya\anaconda3\lib\site-packages (from requests==2.26.0) (3.3)

Usage:
  pip install [options] <requirement specifier> [package-index-options] ...
  pip install [options] -r <requirements file> [package-index-options] ...
  pip install [options] [-e] <vcs project url> ...
  pip install [options] [-e] <local project path> ...
  pip install [options] <archive url/path> ...

no such option: -y

Usage:
  pip install [options] <requirement specifier> [package-index-options] ...
  pip install [options] -r <requirements file> [package-index-options] ...
  pip install [options] [-e] <vcs project url> ...
  pip install [options] [-e] <local project path> ...
  pip install [options] <archive url/path> ...

no such option: -y

Collecting lxml==4.6.4

ERROR: Could not install packages due to an OSError: [WinError 5] Access is denied: 'C:\\Users\\lucya\\anaconda3\\Lib\\site-packages\\~xml\\etree.cp38-win_amd64.pyd'
Consider using the `--user` option or check the permissions.

  Downloading lxml-4.6.4-cp38-cp38-win_amd64.whl (3.6 MB)
Installing collected packages: lxml
  Attempting uninstall: lxml
    Found existing installation: lxml 4.6.3
    Uninstalling lxml-4.6.3:
      Successfully uninstalled lxml-4.6.3
Requirement already satisfied: plotly==5.3.1 in c:\users\lucya\anaconda3\lib\site-packages (5.3.1)
Requirement already satisfied: six in c:\users\lucya\anaconda3\lib\site-packages (from plotly==5.3.1) (1.16.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\lucya\anaconda3\lib\site-packages (from plotly==5.3.1) (8.0.1)

In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [3]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/netflix_data_webpage.html"

data  = requests.get(url).text

In [4]:
soup = BeautifulSoup(data, 'html5lib')

In [5]:
netflix_data = pd.DataFrame(columns=["Date", "Open", "High", "Low", "Close", "Volume"])

# First we isolate the body of the table which contains all the information
# Then we loop through each row and find all the column values for each row
for row in soup.find("tbody").find_all('tr'):
    col = row.find_all("td")
    date = col[0].text
    Open = col[1].text
    high = col[2].text
    low = col[3].text
    close = col[4].text
    adj_close = col[5].text
    volume = col[6].text
    
    # Finally we append the data of each row to the table
    netflix_data = netflix_data.append({"Date":date, "Open":Open, "High":high, "Low":low, "Close":close, "Adj Close":adj_close, "Volume":volume}, ignore_index=True)

In [6]:
netflix_data.head()

           Date    Open    High     Low   Close       Volume Adj Close
0  Jun 01, 2021  504.01  536.13  482.14  528.21   78,560,600    528.21
1  May 01, 2021  512.65  518.95  478.54  502.81   66,927,600    502.81
2  Apr 01, 2021  529.93  563.56  499.00  513.47  111,573,300    513.47
3  Mar 01, 2021  545.57  556.99  492.85  521.66   90,183,900    521.66
4  Feb 01, 2021  536.79  566.65  518.28  538.85   61,902,300    538.85

In [8]:
read_html_pandas_data = pd.read_html(url)

In [9]:
read_html_pandas_data = pd.read_html(str(soup))

In [10]:
netflix_dataframe = read_html_pandas_data[0]

netflix_dataframe.head()

           Date    Open    High     Low  Close* Adj Close**     Volume
0  Jun 01, 2021  504.01  536.13  482.14  528.21      528.21   78560600
1  May 01, 2021  512.65  518.95  478.54  502.81      502.81   66927600
2  Apr 01, 2021  529.93  563.56  499.00  513.47      513.47  111573300
3  Mar 01, 2021  545.57  556.99  492.85  521.66      521.66   90183900
4  Feb 01, 2021  536.79  566.65  518.28  538.85      538.85   61902300